@model SV22T1020583.Models.Catalog.Category
@{
    ViewBag.Title = (Model.CategoryID == 0) ? "Bổ sung loại hàng" : "Cập nhật loại hàng";
}
@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary"><i class="bi bi-save"></i> Lưu dữ liệu</button>
    <a href="~/Category" class="btn btn-secondary ms-1">Quay lại</a>
}
<div class="card card-primary card-outline">
    <div class="card-body">
        <form id="formEdit" action="~/Category/SaveData" method="post">
            <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
            <div class="mb-3">
                <label class="form-label">Tên loại hàng</label>
                <input type="text" name="CategoryName" value="@Model.CategoryName" class="form-control" autofocus required />
            </div>
            <div class="mb-3">
                <label class="form-label">Mô tả</label>
                <textarea name="Description" class="form-control" rows="4">@Model.Description</textarea>
            </div>
        </form>
    </div>
</div>